.postList {
  display: grid;
  gap: 20px;
  border: 1px solid gray;
  background-color: aqua;
}
.ul {
  list-style: none;
}
.post {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: beige;
}

.title {
  
}